.rum {
  padding: 100px min(50px, 5vw);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;

  margin: 30px;
  flex-wrap: wrap;
  gap: 50px;
  border-radius: 50px;
  text-align: center;
}
